/*
    Achieving Vertical Rhythm
    https://www.gridlover.net/try
*/

html, .root {
  font-size: 16px;
  line-height: 24px;
}

body, .article {
  font-family: "Comfortaa";
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chewy";
}

h1 {
  font-size: 8rem;
  line-height: 9rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.my-info,
#topContacts,
#footerContacts,
#skills,
#workExperience,
.work-entry,
#projects,
.project-entry,
#education,
.education-entry,
#mapDiv,
#lets-connect {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-info {
    /*Positioning*/
    position: relative;

    /*Display*/
    padding: 30vh;
    min-height: 100vh;

    /*Others*/
    background: #e1eef6;
    color: #58C9B9;
}

.biopic {
    /*Positioning*/
    position: absolute;
    top: 24px;
    left: 24px;

    /*Display*/
    max-height: 96px;

    /*Others*/
    border-radius: 50%;
}

#topContacts,
#footerContacts {

    /* Display */
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px 24px;
    margin-bottom: 0;

    /* Others */
    background: #2EC4B6;
    list-style: none;
}

#footerContacts > .contact-item,
#topContacts > .contact-item {
    white-space: nowrap;
    padding: 6px 4%;
}

.contact-key {
    color: #282c37;
}

.contact-text {
    color: #FFFFF3;
}

#skills {
    /* Display */
    min-height: 100vh;
    padding: 20vh 5vh;
    margin-bottom: 0;

    /* Others */
    background: #E53A40;
    color: #FFFFF3;
    list-style: none;
}

#skills > .flex-item {
    font-size: 24px;
    padding: 12px;
}

#skills-h2 {
    margin-top: 0;
    margin-bottom: 20vh;
}

#workExperience {

    /* Display */
    min-height: 100vh;
    padding: 20vh 5vh;

    /* Others */
    background: #31355b;
    color: #FFFFF3;
}

.work-entry,
.project-entry,
.education-entry {

    /* Display */
    padding: 10vh 40vh;
}

.work-title,
.project-title,
.school-title {
    /* Display */
    display: inline-block;
    margin: 6px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: #c9d6de;
}

#projects {

    /* Display */
    min-height: 100vh;
    padding: 10vh 5vh;

    /* Others */
    background: #D499B9;
    color: #FFFFF3;
}

.project-entry,
.education-entry {

    /* Display */
    padding: 10vh 40vh;
}

#education {
    /* Display */
    min-height: 100vh;
    padding: 10vh 5vh;

    /* Others */
    background: #a5d296;
    color: #FFFFF3;
}

.education-entry > em {
    display: inline-block;
    line-height: 1rem;
}

.school-title,
.school-url {
    color: #014c8c;
}

#mapDiv {
    background: #91F5AD;
    color: #FFFFF3;
}

#map {
    width: 80vw;
    height: 70vh;
    margin: 10vh;
}
